@import "tailwindcss";

.card-header {
	@apply mt-4;
	width: 100%;
	display: block;
	text-align: center;
}

.card-header .title {
	@apply text-2xl font-bold;
}

.create-key-wrapper {
  @apply bg-gray-100 min-h-screen flex justify-center items-center p-6;
}

.create-key-manager {
  @apply bg-white p-6 rounded-xl shadow-lg w-full;
	max-width: 600px;
	margin: 2rem auto;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}